In [1]:
#import the needed libraries
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split

**Data Collection**

In [9]:
#import the dataset
file="../Service Clients Darty 2017-2021.xlsx"
df = pd.read_excel(file)
df.drop(columns=['Appels EGP'],inplace=True)
df.set_index('Date',inplace=True)
df.head(),df.tail()

(            Appels
 Date
 2017-01-01     0.0
 2017-01-02  5774.0
 2017-01-03  5744.0
 2017-01-04  5833.0
 2017-01-05  5588.0,
             Appels
 Date
 2021-12-27     NaN
 2021-12-28     NaN
 2021-12-29     NaN
 2021-12-30     NaN
 2021-12-31     NaN)

In [10]:
df.describe()

             Appels
count   1734.000000
mean    5461.132065
std     2635.572188
min        0.000000
25%     4211.750000
50%     5804.500000
75%     6899.750000
max    16049.000000

**Split the data (first 3 years)**

In [12]:
train_df = df[df.index<'2020-01-01']
test_df = df[df.index>='2020-01-01']
train_df.tail(),test_df.head()

(            Appels
 Date
 2019-12-27  5968.0
 2019-12-28  3952.0
 2019-12-29   868.0
 2019-12-30  5520.0
 2019-12-31  4051.0,
             Appels
 Date
 2020-01-01     0.0
 2020-01-02  5979.0
 2020-01-03  5690.0
 2020-01-04  3834.0
 2020-01-05   687.0)

In [13]:
def resample_df(df, freq):
    """
    Resample a dataframe to a given frequency
    args: 
    - df: dataframe to resample
    - freq: string that gives the frequency ie. 'Y','W','M'
    
    returns: resampled dataframe
    """
    return df.resample(freq).sum()

In [69]:
def selectPeriod(df,period):
    """
    Select a periodicity of a dataframe
    args: 
    - df: dataframe studied
    
    returns: periodicity studied
    """
    if period == 'Y':
        return df.index.year
    elif period == 'M':
        return df.index.month
    elif period == 'W':
        return df.index.week

In [88]:
def selectSeason(df,season):
    """
    Select a season of a dataframe
    args: 
    - df: dataframe studied
    
    returns: season studied
    """
    if season == 'M':
        return df.index.month
    elif season == 'W':
        return df.index.week
    elif season == 'D':
        return df.index.weekday

In [91]:
def getBuysBallot(df,period='W',season='D'):
    """
    Transform a df into a buys ballot table
    args: 
    - df: dataframe to resample
    
    returns: formatted df
    """

    
    df_buysBallot = pd.DataFrame()
    selected_period = selectPeriod(df,period)
    periods = set(selected_period)
    for period in periods:
        period_condition = selected_period == period
        selected_season = selectSeason(df[period_condition],season)
        df_buysBallot[str(period)] = df[period_condition].groupby(selected_season).sum()
    df_buysBallot=df_buysBallot.T
    
    return df_buysBallot

In [78]:
def compute_mean(df,period='Y',season='M'):
    """
    Compute the mean of a dataframe
    args: 
    - df: dataframe to resample
    - period: string that gives the period ie. 'Y','W','M'
    - season: string that gives the season ie. 'Y','W','M'
    
    returns: mean of the dataframe
    """
    df = getBuysBallot(df,period,season)
    print(df)
    return df.mean(axis=1)

In [79]:
def compute_std(df,period='Y',season='M'):
    """
    Compute the standard deviation of a dataframe
    args: 
    - df: dataframe to resample
    - period: string that gives the period ie. 'Y','W','M'
    - season: string that gives the season ie. 'Y','W','M'
    
    returns: standard deviation of the dataframe
    """
    df = getBuysBallot(df,period,season)
    return df.std(axis=1)

In [93]:
refacto_df = getBuysBallot(train_df)
refacto_df

/tmp/ipykernel_5694/3436060956.py:14: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  return df.index.week

Date        0        1        2        3        4        5       6
1     14477.0  16762.0  18541.0  18166.0  18088.0  12775.0  2300.0
2     18319.0  17253.0  19934.0  19928.0  20433.0  15623.0  4063.0
3     22084.0  21171.0  22009.0  20505.0  20182.0  14903.0  3312.0
4     21356.0  20190.0  20772.0  18466.0  19482.0  14538.0  3356.0
5     21185.0  19226.0  19658.0  18438.0  18680.0  13828.0  2851.0
6     20470.0  19601.0  20230.0  19309.0  19349.0  14234.0  2652.0
7     21838.0  20480.0  20483.0  18653.0  18587.0  12461.0  2495.0
8     19399.0  18124.0  18316.0  16733.0  15846.0  10973.0  2222.0
9     17587.0  16448.0  16752.0  15803.0  15941.0  11373.0  2360.0
10    17746.0  16681.0  17394.0  15713.0  16107.0  11175.0  2317.0
11    18369.0  16866.0  16811.0  15935.0  15259.0  10933.0  2313.0
12    17407.0  16157.0  16686.0  15090.0  14902.0  10711.0  2168.0
13    16688.0  15677.0  16005.0  14722.0  15204.0  10458.0  2207.0
14    11812.0  16731.0  16542.0  15802.0  15063.0  10596.0  2311.0
15    17223.0  16926.0  16331.0  14947.0  14950.0  10044.0  1948.0
16    12435.0  16309.0  16180.0  15465.0  14510.0   9402.0  1791.0
17    12483.0  15482.0  15211.0  14367.0  14824.0  10483.0  2170.0
18    11301.0  11474.0  12741.0  16637.0  14869.0  10436.0  1757.0
19    12217.0  13260.0  13253.0  13370.0  15827.0  10501.0  2098.0
20    17462.0  16071.0  16031.0  15126.0  15035.0  10168.0  1820.0
21    13490.0  16597.0  15978.0  12917.0  15147.0  10761.0  2089.0
22    17599.0  16687.0  16610.0  12683.0  15058.0  10178.0  1961.0
23    13932.0  17061.0  17256.0  16480.0  15713.0  10512.0  2039.0
24    14560.0  17748.0  18049.0  17046.0  17605.0  11944.0  2178.0
25    19387.0  18359.0  18464.0  17171.0  16467.0  10826.0  2173.0
26    18875.0  17810.0  19848.0  19990.0  20034.0  13828.0  2957.0
27    22368.0  20408.0  22422.0  22379.0  21182.0  14452.0  3136.0
28    22744.0  24208.0  23425.0  22402.0  16424.0  11502.0  2620.0
29    23395.0  23222.0  22671.0  21901.0  20266.0  13422.0  2579.0
30    22591.0  21180.0  21114.0  20968.0  20302.0  12913.0  2343.0
31    22146.0  20950.0  21666.0  21725.0  19989.0  12306.0  2310.0
32    20350.0  19529.0  18971.0  18846.0  18002.0  10902.0  1914.0
33    17497.0  14132.0  15255.0  14675.0  17471.0  10741.0  2001.0
34    19937.0  19047.0  19161.0  18501.0  17615.0  11480.0  2235.0
35    20121.0  19213.0  19558.0  19033.0  18249.0  13083.0  2716.0
36    20416.0  19389.0  20211.0  21236.0  19118.0  13076.0  2687.0
37    21618.0  20085.0  19495.0  18572.0  19199.0  12446.0  2621.0
38    20488.0  19077.0  19044.0  18298.0  18155.0  11969.0  2382.0
39    18786.0  17851.0  17549.0  16735.0  16981.0  12064.0  2505.0
40    19355.0  18381.0  19087.0  19528.0  18661.0  12270.0  2452.0
41    19844.0  18706.0  18844.0  17644.0  17282.0  11515.0  2367.0
42    18534.0  17213.0  17516.0  16633.0  16864.0  11462.0  2346.0
43    17629.0  16695.0  16885.0  16106.0  16574.0  11363.0  2493.0
44    18377.0  16894.0  13117.0  14594.0  14544.0  11911.0  2465.0
45    19718.0  17935.0  18163.0  17147.0  17180.0  11389.0  2314.0
46    15758.0  18179.0  18708.0  17816.0  17462.0  11897.0  2437.0
47    19346.0  18706.0  19546.0  19591.0  29273.0  23198.0  8464.0
48    30885.0  28642.0  28846.0  27421.0  28903.0  18057.0  4997.0
49    26858.0  28470.0  26536.0  25383.0  25916.0  16971.0  5216.0
50    28222.0  25827.0  28157.0  24488.0  26135.0  18094.0  5678.0
51    28364.0  27462.0  28149.0  28985.0  27763.0  18941.0  5526.0
52    12362.0  12663.0  13086.0  18933.0  17714.0  11982.0  2487.0

In [ ]:
def plot_decomposition_type(mean_df,std_df):
    """
    Relationship between the seasonal means and the seasonal standard deviations
    args: 
    - mean_df: dataframe with means values
    - std_df: dataframe with std values
    
    returns: plot of the seasonal means and the pooled standard deviations
    """

    fig = go.Figure()
    fig.add_trace(go.Scatter(x=mean_df.index, y=mean_df,name="Seasonal mean",line = dict(color='black', width=2)))
    fig.add_trace(go.Scatter(x=mean_df.index, y=std_df,name="Seasonal standard deviation",line = dict(color='black', width=1, dash='dash')))
    fig.update_layout(title='Relationship between the seasonal means and the seasonal pooled standard deviations',
                    xaxis_title='Period',
                    yaxis_title='NUmber of calls')

    fig.show()